---
import PageLayout from "@/layouts/PageLayout.astro"
import Education from "@/components/molecules/Education.astro"
import Certification from "@/components/molecules/Certification.astro"
import certificationData from "@/content/data/certification.json"
import educationData from "@/content/data/education.json"

const certificationItems = certificationData.certifications
const educationItems = educationData.education
---

<PageLayout>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <h1 class="text-2xl font-bold mb-4 text-center">Education</h1>
      {educationItems.map((item) => (
        <Education {...item} />
      ))}
    </div>
    <div>
      <h1 class="text-2xl font-bold mb-4 text-center">Certification</h1>
      {certificationItems.map((item) => (
        <Certification {...item} />
      ))}
    </div>
  </div>
</PageLayout>